doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    meta( name='viewport', content='width=device-width, initial-scale=1' )   
  body
    block content
  script(src='/scripts/jquery.min.js')
  script(src='/scripts/fabric.js')
  script(src='/scripts/lodash.min.js')
  script(src='/createFilter.js')
  script(src='/main.js')
